%p= "「#{params[:word]}」で検索、 #{@paginated_books.n_records} 件ヒット [#{@paginated_books.start_offset}-#{@paginated_books.end_offset}件を表示]#{params_to_description}"
- unless @books.empty?
  %p.visible-xs
    [
    = link_to("発行年で絞り込み", "#pubyear")
    ]
    [
    = link_to("出版社で絞り込み", "#publishers")
    ]
    [
    = link_to("Cコードで絞り込み", "#ccode")
    ]
    [
    = link_to("著者で絞り込み", "#authors")
    ]
- if @paginated_books.total_pages > 1
  = paginate(@paginated_books)
%ul
  - @paginated_books.each do |book|
    %li
      %h4
        -# link_to("#{book.title} - #{book.authors.map(&:name).join(" ")}", book.card_url)
        - authors = book.authors.map(&:name).join(" ")
        = "#{book.title}#{' - ' unless authors.blank?}#{authors}"
      - if params["word"] && book.content
        %p
          = @snippet.execute(book.content).collect {|snippet| "...#{snippet}..."}.join(" / ").html_safe
      %p
        - isbn = book._key
        = link_to("honto", "https://honto.jp/netstore/search_10#{isbn}")
        = "/"
        = link_to("書籍横断検索", "http://book.tsuhankensaku.com/hon/isbn/#{isbn}")
        = "/"
        = link_to("カーリル", "https://calil.jp/search?q=#{isbn}")
      %br
- if @paginated_books.total_pages > 1
  = paginate(@paginated_books)
