%h4 出版社
- grouping_by_publisher(@books).each do |publisher|
  = link_to("#{publisher._key} (#{publisher.n_sub_records})", url(["/search", drilled_params(publisher: publisher._key)].join("?")))
  %br
%h4 発行年代
- grouping_by_pubage(@books).each do |pubage|
  = link_to("#{pubage._key}年代 (#{pubage.n_sub_records})", url(["/search", drilled_params(pubage: pubage._key)].join("?")))
  %br
%h4 発行年
- grouping_by_pubyear(@books).each do |pubyear|
  = link_to("#{pubyear._key}年 (#{pubyear.n_sub_records})", url(["/search", drilled_params(pubyear: pubyear._key)].join("?")))
  %br
